<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Nest With Me</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>Welcome to the NestJS tutorial!</h1>
    <p><%= message %></p>
    <p><%= port %></p>
  </body>
</html>
